
ul li {
    margin: 30px 0;
    list-style: none;
}
.custom-icon {
  
    margin-right: 30px;
}
  
/* .included {
    background-color: lightgreen; 
    padding: 5px;
    display: inline-block;
  } */
  
  .not-included {
    color: rgb(137, 137, 137); /* Color for not included features */
    /* padding: 5px; */
    display: inline-block;
  }
  
  .row {
   display: flex;
   justify-content: space-between;
   /* height: 100vh; */
  }
  .container {
    margin: 20px 0;
    background-color: blue;
  }
  button {
    padding: 130px 10px;
  }